target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*
replay_pid*

spring-boot-*.log

.env
.env.local
application-local.properties
application-local.yml

.idea/
*.iws
*.iml
*.ipr
out/

.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/

.vscode/

nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

.DS_Store

Thumbs.db
desktop.ini

docker-compose.override.yml

*.db
*.sqlite